.flightfarepred {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/flight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box_forms {
    height: 200px;
    width: 50%;
    margin: auto;
    height: 540px;
    width: 80%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    background-color: white;
}

.headerstitle {
    text-align: center;
}

.input-label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 140px;
}


.input-label label {
    margin-bottom: 10px;
}